{% extends 'tontine/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <br>
    <br>
    <br />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <h1 style="font-size: 2em;">Creer Une Reunion Pour L'association {{name.nom}}</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="idtontine" value="idtontine">
        {% for item in form %}
        {% if item.label == 'Date Reunion' %}
        <p>Date Reunion<input type="date" name="date" required id="id_date"></p>
        </p>
        {% elif item.label == 'Heure Reunion' %}
        <p>Heure Reunion<input type="text" class="" name="heure" required id="id_heure"></p>
        {% else %}
        <p>{{item.label}}{{item}}</p>
        {% endif %}
        {% endfor %}
        <br />
        <center>
            <input type="submit" value="Creer Reunion" style="width: 96%;">

        </center>
        <!-- <script>
            $("input", "textarea").addClass("form-control");
        </script> -->
    </form>
</div>

{% endblock %}