{% extends 'tontine/base.html' %} {% block content %}
<br />
<br />
<br />
<br />
<section id="reunion">
    <div class="container">
        {% if election %}
        <h1 style="font-size: 16px;font-weight:900;">Election Lancer Pour L'association {{election.id_election}}</h1>
        <style>
            tr,
            th,
            td {
                border: 1px solid #ddd;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th,
            td {
                text-align: left;
                padding: 8px;
                border: 1px;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2
            }

            th {
                background-color: #4CAF50;
                color: white;
            }

            @media screen and (max-width:480px) {
                * {
                    font-size: 1em;
                }

                th {
                    font-size: 0.9em;
                }
            }
        </style>

        <div style="overflow: auto;">
            <table>
                <tr>
                    <th>
                        Creer
                    </th>
                    <th>
                        Date Fin Candidature
                    </th>
                    <th>
                        Date Election
                    </th>
                    <th>
                        Terme
                    </th>
                    <th>
                        Temp Renouvelable
                    </th>
                    <th>

                    </th>
                </tr>
                {% for elect in election %}
                <tr>
                    <td>depius {{elect.date_creation|timesince}}</td>
                    <td>{{elect.date_fin_canditure}} {{elect.date_fin_canditure}}
                    </td>
                    <td>{{elect.date}}
                    <td>{{elect.terme}}</td>
                    <td>{{elect.temp_renouvelable}}</td>
                    <td><a href="{% url 'aller_voter' elect.id %}" class="btn btn-success form-control">Participer</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <h1>Oop's Aucune Election Lancer!</h1>
        {% endif %}
    </div>
</section>
{% endblock %}