{% extends 'tontine/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<br />
<br />
<br />
<div>
    <style>
        .errorlist {
            color: red;
        }

        .errorlist>li {
            color: red;
        }
    </style>
    <center>
        <h3>Modifier Votre Profile</h3>
    </center>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <br>
        <br>
        <center><input type="submit" value="Modify" style="width:95%"></center>
    </form>
</div>
{% endblock %}